.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(10) rem(20) rem(5);
  background-color: #16252f;

  &__webTitle {
    font-family: 'Righteous', cursive;
    //max-width: 200px;
    margin-top: rem(0);
    margin-bottom: rem(5);
    //margin-right: 50px;
    //text-transform: uppercase;
    letter-spacing: 3px;
    font-size: rem(25);
    display: inline-block;
    color: #eec11b;
    margin-bottom: 5px;
    @include media ($tablet){
      font-size: rem(35);
    }
  }

  &__form {
    margin-top: rem(13);
    margin-bottom: rem(13);
    display: flex;
    justify-content: left;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media ($tablet){
      //flex-grow: 2;
      width: 90%;
    }

    &__input {
      flex-grow: 2;
      max-width: 600px;
      height: rem(28);
      padding-left: rem(10);
      margin-right: rem(10);
      border: 0;
      border: 2px solid #2585b545;
      //background: linear-gradient(45deg, #495643 0%, #49565d 100%);
      background-color: #0c141d;
      border-radius: rem(10);
    }
    &__submit {
      height: rem(28);
      width: rem(90);
      font-weight: 700;
      text-transform: capitalize;
      color: $white;
      border:none;
      border-radius: rem(10);
      color: black;
      background-color: #eec11b;
      cursor: pointer;
    }
  }
}
